*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #08ee7b;
}

/* input of city name  */
.container{
    min-width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    max-width: 440px;
}

.container form input{
    width: 400px;
    outline: none;
    border: none;
    border-radius: 10px;
    height: 4rem;
    padding: 10px 55px;
    font-size: 30px;
}

form{
    position: relative;
}

#location-icon{
    fill: #63E6BE;
    position: absolute;
    top: 16%;
    left: 4%;
}

button{
    fill: #74C0FC;
    position: absolute;
    top: 13%;
    right: 2%;
    width: 45px;
    height: 45px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
}

button:hover{
    padding: 2px;
    border-radius: 10px;
    /* border: none; */
    fill: #fff;
    background-color: #74C0FC;
}

form svg{
    width: 34px;
    height: 34px;
}

/* weather result */
.weather-icon{
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-icon img{
    width: 150px;
    height: 150px;
}

.weather-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px 0;
}

.current-temp{
    text-align: center;
    text-transform: capitalize;
}

.current-temp p:first-child{
    font-size: 50px;
    font-weight: 900;
}

.current-temp p{
    font-size: 1.3rem;
    font-weight: 600;
}

.current-temp p:last-child{
    font-size: 2rem;
}

#cityValue:focus  {
    border: 1px solid rgb(0, 255, 157);
}

/* weather other feature */
.weather-other-features{
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    font-weight: 600;
}

.humidity, .rain{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3px;
}

.weather-other-features svg{
    width: 30px;
    height: 30px;
}

.humidity svg{
    fill: #00ff9d;
}

.rain svg{
    fill: #00ccff;
}

.weather-other-features p:first-child{
    text-decoration: underline rgb(215, 14, 241);
}

/* media query */
@media screen and (max-width: 375px){
    body{
        padding: 10px;
    }

    .container{
        width: 340px;
    }

    .container form input{
        width: 300px;
        font-size: 20px;
    }

    .current-temp p:last-child{
        font-size: 1.2rem;
    }

    .weather-other-features{
        justify-content: space-between;
    }
}